*{
  font-family: sans-serif;
}



table{
  border-collapse: collapse;
  width: 50%;
}

th,td{
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}
th{
  background-color: #5493d3;
  border: none;
}

.problemform h3{
  color: #044586;
  font-size: 100;
}
.problemform input[type="radio"]{
  margin:20px;
}
.CheckLabel label{
  margin-top: 30px;
}
.CheckLabel input{
  margin: 10px;
}